.button {
  border-radius: 24px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  padding: 12px 50px;
  cursor: pointer;
  transition: 0.3s;

  &.primary {
    box-shadow: 0px 4px 8px 0px #377dff80;
    background-color: #fff;
    border: none;

    &:hover {
      background-color: #0e0e0e;
      color: #fff;
    }
  }

  &.outline {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: #0e0e0e;
    }
  }
}
